@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

img {
  height: 100px;
}

a {
  all: unset;
}
.container {
  width: 90vw;
  margin: 0 auto;
  height: 120px;
}

/* =====================HEADER======================= */
header {
  display: flex;
  align-items: center;
  gap: 20px;
}
header img {
  height: 50px;
  object-fit: cover;
}

.search {
  width: 600px;
}
